:root{
    --primary: white;
    --color: #1f2434;
    --box-color: #1c4587;
    --small-box: #4b86e6;
    --header: #cde2f5;
    

}

.hey{
    background-color: var(--box-color);
    text-align: center;
    color: var(--primary);
    font-size: 4rem;
    border-color: black;
    border-style: solid;
  }

.box{
    background: var(--header);
    padding: .5rem;
    margin:  2rem;
    display: flex;
    margin-bottom: -.25rem;
    
}  

.Why{
    text-align: center;
    font-size: 3.5rem;
    
}

.reason{
   
    margin-bottom: -1rem;
    align-items: center;
    margin-left: 11rem;
    margin-right: 18rem;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    width: 70%;
    

}




.imagebox{
    color: var(--primary);
    background-color: var(--small-box);
    width: 8rem;
    height: 3.75rem;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
   
}


h4{
    margin-top: .5rem;
    margin-bottom: -1rem;

}

.bottom{
    background-color: var(--box-color);
    border-color: black;
    border-style: solid;
   height: 20%;
   width: 100%;
    position: absolute;
    bottom: 0;
}


.image{
  
    position: absolute;
    right: -35rem;
    top: 25rem;
    flex-wrap: wrap;
   width: 50%;

    margin-right: 2rem;
   
}


